.header{
    width: 100%;
    height: 76px;
    background-color: #0100cd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    padding: 0 18px;
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section a{
    text-decoration: none;
}

.logo{
    color: #fff;
    font-size: 32px;
}

.logo span{
    color: #cd0066;
    padding-left: 2px;
}

.loginBtn{
    background-color: transparent;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 24px;
    padding: 8px 32px;
    cursor: pointer;
    transition: transform 0.4s;
}

.loginBtn:hover{
    transform: scale(1.08);
    background-color: #cd0066;
    font-weight: bold;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.myPanel{
    background-color: #fff;
    color: #0100cd;
    font-size: 14px;
    border-radius: 4px;
    margin: 0 14px;
    cursor: pointer;
    padding: 4px 14px;
    transition: transform 0.4s;
}

.myPanel:hover{
    transform: scale(1.08);
    background-color: #cd0066;
    color: #fff;
}